<div class="wrap" {{bindAttr class="active"}}>
  <h1>{{loc "hello"}}</h1><a {{action toggleSideMenu}}>Channels</a>
  {{view App.SideMenuView}}

  {{#view App.BouncyScrollView}}
    {{outlet}}
  {{/view}}
</div>
<a {{action doPosts}}>Posts</a>
