  <ul class="nav nav-list">
    <li class="nav-header">Your Channels</li>
    {{#each c in channels}}
      {{#view view.channelSelector contentBinding="c"}}
        {{#with view}}
          <a {{action showChannel content}}>{{content.name}} {{content.posts.length}}</a>
        {{/with}}
      {{/view}}
    {{/each}}
  </ul>