/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

.side-menu {
  left: -16em;
  position: absolute;
  top: 0;
  height: 100%;
  width: 16em;
  background-color: #59722e;
  }
  .side-menu > .nav-list {
    background-color: #59722e;
  }
  .side-menu .nav-header {
    color: #fff;
  }
  .channel {
    background-color: #94b512;
    }
    .channel a {
      color: #000;
    }

.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  }
  .wrap.active {
    left: 16em;
  }